[Interface]
Address = {{ wireguard_ip }}/32
PrivateKey = {{ wireguard_private_key }}

[Peer]
PublicKey = {{ hostvars[groups['control_plane'][0]]['wireguard_public_key'] }}
Endpoint = {{ hostvars[groups['control_plane'][0]]['control_plane_public_ip'] | default(lookup('dig', hostvars[groups['control_plane'][0]]['ansible_host'])) }}:{{ hostvars[groups['control_plane'][0]]['wireguard_port'] }}
AllowedIPs = {{ hostvars[groups['control_plane'][0]]['wireguard_ip'] }}/32
PersistentKeepalive = 25

