[Interface]
Address = {{ wireguard_ip }}/24
{% if inventory_hostname in groups['control_plane'] %}
ListenPort = {{ wireguard_port }}
{% endif %}
PrivateKey = {{ wireguard_private_key }}

{% if inventory_hostname in groups['control_plane'] %}
# Worker nodes
{% for host in groups['workers'] %}
[Peer]
# {{ host }}
PublicKey = {{ hostvars[host]['wireguard_public_key'] }}
AllowedIPs = {{ hostvars[host]['wireguard_ip'] }}/32

{% endfor %}
{% else %}
# Control plane
[Peer]
PublicKey = {{ hostvars[groups['control_plane'][0]]['wireguard_public_key'] }}
Endpoint = root.{{ hostvars[groups['control_plane'][0]]['ansible_host'] }}:{{ hostvars[groups['control_plane'][0]]['wireguard_port'] }}
AllowedIPs = {{ wireguard_network }}
PersistentKeepalive = 25
{% endif %}

